<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="CSS/style.css"/> <!-- static path for public folder is already set in app.js -->

    </head>
    <body>
        <div class="main-content" id="">
            {{>header}}
        </div>
    </body>
</html>